@model escale.Models.Users

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutLite";
}

<h1>Edit</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeName" class="control-label"></label>
                <input asp-for="CodeName" class="form-control" />
                <span asp-validation-for="CodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderName" class="control-label"></label>
                <input asp-for="GenderName" class="form-control" />
                <span asp-validation-for="GenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptName" class="control-label"></label>
                <input asp-for="DeptName" class="form-control" />
                <span asp-validation-for="DeptName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleName" class="control-label"></label>
                <input asp-for="TitleName" class="form-control" />
                <span asp-validation-for="TitleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserNo" class="control-label"></label>
                <input asp-for="UserNo" class="form-control" />
                <span asp-validation-for="UserNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeNo" class="control-label"></label>
                <input asp-for="CodeNo" class="form-control" />
                <span asp-validation-for="CodeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleNo" class="control-label"></label>
                <input asp-for="RoleNo" class="form-control" />
                <span asp-validation-for="RoleNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderCode" class="control-label"></label>
                <input asp-for="GenderCode" class="form-control" />
                <span asp-validation-for="GenderCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeptNo" class="control-label"></label>
                <input asp-for="DeptNo" class="form-control" />
                <span asp-validation-for="DeptNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleNo" class="control-label"></label>
                <input asp-for="TitleNo" class="form-control" />
                <span asp-validation-for="TitleNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label"></label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactTel" class="control-label"></label>
                <input asp-for="ContactTel" class="form-control" />
                <span asp-validation-for="ContactTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress" class="control-label"></label>
                <input asp-for="ContactAddress" class="form-control" />
                <span asp-validation-for="ContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidateCode" class="control-label"></label>
                <input asp-for="ValidateCode" class="form-control" />
                <span asp-validation-for="ValidateCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotifyPassword" class="control-label"></label>
                <input asp-for="NotifyPassword" class="form-control" />
                <span asp-validation-for="NotifyPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

