<div class="bread">
    <ul class="breadcrumb">
      <li class="breadcrumb-item2"><a href="">購物車</a></li>
      <li class="breadcrumb-item2"><a href="">精選商品</a></li>
      <!-- <li class="breadcrumb-item2"><a href="">新人展示</a></li>
      <li class="breadcrumb-item2"><a href="">大偉</a></li>
      <li class="breadcrumb-item2"><a href="">攝影作品</a></li> -->
    </ul>
</div>


  <div class="container mb-2">
    <h2>
      <span class="title-text">精選商品</span>
    </h2>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper">
      <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="articleInfo">
            <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#myModal" style="display: block;"> -->
            <!-- <img
              src="https://d41chssnpqdne.cloudfront.net/artist_bot/29606060/task_task:21cfb400-11b0-48b3-b4e8-bb400f005745/eHbjN.png?Expires=1721213688&Signature=bjjc2bZP2tfb0hcPaJZPgOmM2lgs51TjcEBzcJsosqKkq~YPUtKryVHzfkIRzzsTyMQfVoXnq-Amgr2Gh1sKnAXo9JsqT38Y5kdskjlKKoMCoe1FG9rhyJbeqGTVvfJf3MkABUlNX7A3gcFPKjs2gXvQV6jlZvSEg5iasbXa8Ko7LO4pxSlnwITKGDA98nzQ566t-0UuknFckqFBjSRMD4UjCKPKgBeXbXo7Y46ES6Tc-Ot5azn0ZVqEKJIEPCFFSX7jXnqJIMQSlujWXogPtTvvnBWOhLaT6FgwQsWKrxZIQcB-FssmtH9o70cGmme-3iiJu2~euDgJM4VNyLv1Mw__&Key-Pair-Id=K3USGZIKWMDCSX"
              alt="blogImg04" class="articleImg" data-bs-toggle="modal" data-bs-target="#myModal" /> -->
              <img
              src="../../wwwroot/image/eleScore.jpg"
              alt="blogImg04" class="articleImg" data-bs-toggle="modal" data-bs-target="#myModal" />
              <h3 class="articleTitle">智能營養監測，隨時隨地掌握健康狀態</h3>
            <div class="articleContent">
              <p>
                智慧聯網電子秤可以透過稱量食物連結雲端資料庫自動記錄和分析您的飲食狀況和營養攝取情況。
              </p>

              <!-- </div> -->
              <div class="articleContentbutton">
                <button class="btn btn-primary" data-toggle="modal" data-target="#cartModal" data-item="智慧聯網電子秤"
                  onclick="confirmPurchase('智慧聯網電子秤')">
                  購買
                </button>
                <button class="btn btn-secondary" onclick="toggleFavorite(this)">
                  收藏
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="../../wwwroot/image/vegetable.png"
            alt="blogImg04" class="articleImg" />
          <div class="articleInfo">
            <h3 class="articleTitle">
              直達家門的田園鮮蔬，給您最天然的滋味
            </h3>
            <div class="articleContent">
              <p>
                田園新鮮蔬果盒，友善農業出品，精心搭配每日營養，方便又美味
              </p>
              <div class="articleContentbutton">
                <button class="btn btn-primary" data-toggle="modal" data-target="#cartModal" data-item="蔬菜箱"
                  onclick="confirmPurchase('蔬菜箱')">
                  購買
                </button>
                <button class="btn btn-secondary" onclick="toggleFavorite(this)">
                  收藏
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="../../wwwroot/image/rice.jpg"
            alt="blogImg04" class="articleImg" />
          <div class="articleInfo">
            <h3 class="articleTitle">從田間到餐桌，享受有機米的自然風味</h3>
            <div class="articleContent">
              <p>
                有機米，來自純淨土壤與友善農法，經過精心耕種，保留了天然營養，口感香濃
              </p>
              <div class="articleContentbutton">
                <button class="btn btn-primary" data-toggle="modal" data-target="#cartModal" data-item="有機米"
                  onclick="confirmPurchase('有機米')">
                  購買
                </button>
                <button class="btn btn-secondary" onclick="toggleFavorite(this)">
                  收藏
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="../../wwwroot/image/eleScore.jpg"
            alt="blogImg04" class="articleImg" />
          <div class="articleInfo">
            <h3 class="articleTitle">智能營養監測，隨時隨地掌握健康狀態</h3>

            <div class="articleContent">
              <p>
                智慧聯網電子秤可以透過稱量食物連結雲端資料庫自動記錄和分析您的飲食狀況和營養攝取情況。
              </p>

              <!-- </div> -->
              <div class="articleContentbutton">
                <button class="btn btn-primary" data-toggle="modal" data-target="#cartModal" data-item="智慧聯網電子秤"
                  onclick="confirmPurchase('智慧聯網電子秤')">
                  購買
                </button>
                <button class="btn btn-secondary" onclick="toggleFavorite(this)">
                  收藏
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="swiper-pagination"></div>
  </div>
  </div>
 </div>