@{
  ViewData["Title"] = "myfitnesspal";
}

@{
  using var companys = new z_sqlCompanys();
  var company = companys.GetDefaultCompany();
}
<div id="user-info" class="user-info" style="display: none;">
  <div id="user-name" class="member-name"></div> <!-- 登入者名稱 -->
  <button id="logout-btn" class="logout-btn">登出</button>
</div>
<!-- 登入者名稱 -->

</div>

<div class="card-container">

  <!-- Cards go here -->
  <div class="card" id="card-c">
    <img
      src="https://github.com/Cooko1209/html/blob/main/img/%E9%9B%B2%E7%AB%AF%E5%81%A5%E5%BA%B7%E7%AE%A1%E7%90%86.png?raw=true"
      alt="健康的勝利">
    <p>準備好贏得健康的勝利了嗎？立即開始追蹤，別擔心，追蹤做起來其實不難！</p>
    <div class="button-container">
      <a href="@Url.Action("Login" , "User" , new {area = ""})" class="button">
        會員登入 / 註冊 </a>


    </div>
  </div>
  <div class="card">
    <img src="https://github.com/Cooko1209/html/blob/main/img/%E8%A8%BB%E5%86%8A.png?raw=true" alt="了解食品">
    <p>了解食品和健身所能帶來的成效</p>
    <div class="button-container">

      <a href="@Url.Action("Index" , "Analysis" , new {area = ""})" class="button">
        雲端資料記錄
      </a>

    </div>
  </div>
  <div class="card">
    <img src="https://github.com/Cooko1209/html/blob/main/img/buy.png?raw=true" alt="飲食習慣">
    <p> 並養成自己受用一生的飲食習慣</p>
    <div class="button-container">

      <a href="@Url.Action("Index" , "Shopping" , new {area = ""})" class="button">
        健康新選擇
      </a>
    </div>
  </div>
</div>

@section Styles
{
  <!-- 依需要引用不同樣式表 -->
  <link rel="stylesheet" href="@Url.Content("~/lib/ESCALE/Home/css/index.css")" />

}


<!-- <div class="sidebar">

      <button class="button" id="about">關於我們</button>
      <a href="#">業務合作</a>
      <a href="./login/login.html">會員登入</a>
      <a href="./admin/admin.html">網站管理</a>
    </div>
    </div> -->
