@model escale.Models.ScaleData

@{
  ViewData["Title"] = "食物份量記錄與建議";
  Layout = "_Layout";
}

@section Styles
{
  <link rel="stylesheet" href="@Url.Content("~/lib/ESCALE/Home/css/analysis.css")" />
}

<div class="container">
  <div class="header">食物份量記錄與建議</div>
  <div class="row">
    <div class="top">
      <div class="col-lg-6 col-md-12">
        <div class="left">
          <div class="chart">
            <canvas id="foodChart"></canvas>
          </div>
          <div class="checkbox-container">
            <label><input type="checkbox" class="food-checkbox" value="grains" checked>全穀雜糧類</label>
            <label><input type="checkbox" class="food-checkbox" value="protein" checked>豆魚蛋肉類</label>
            <label><input type="checkbox" class="food-checkbox" value="dairy" checked>乳品類</label>
            <label><input type="checkbox" class="food-checkbox" value="vegetables" checked>蔬菜類</label>
            <label><input type="checkbox" class="food-checkbox" value="fruits" checked>水果類</label>
            <label><input type="checkbox" class="food-checkbox" value="oilsNuts" checked>油脂與堅果種子類</label>
            <button type="button" onclick="updateChart()">更新圖表</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="right">
          <div class="text">
            <p id="analysis"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="bottom">
      <div class="input">
        <div class="col">
          @using (Html.BeginForm("Index", "Analysis", new { area = "" }, FormMethod.Post))
          {
            <div class="form">
              <h2>請輸入食物份量</h2>
              <div class="food-input">
                <label>
                  <span>日期:</span>
                  <input type="date" id="RecordDate" name="RecordDate">
                </label>
                <label>
                  <span>全穀雜糧類:</span>
                  <input type="number" id="Grains" name="Grains" min="0"> 克
                </label>
                <label>
                  <span>豆魚蛋肉類:</span>
                  <input type="number" id="Protein" name="Protein" min="0"> 克
                </label>
                <label>
                  <span>乳品類:</span>
                  <input type="number" id="Dairy" name="Dairy" min="0"> 克
                </label>
                <label>
                  <span>蔬菜類:</span>
                  <input type="number" id="Vegetables" name="Vegetables" min="0"> 克
                </label>
                <label>
                  <span>水果類:</span>
                  <input type="number" id="Fruits" name="Fruits" min="0"> 克
                </label>
                <label>
                  <span>油脂與堅果種子類:</span>
                  <input type="number" id="OilsNuts" name="OilsNuts" min="0"> 克
                </label>
                <input type="submit" value="提交" class="btn btn-success"></input>
                @* <button type="button" onclick="submitData()">提交</button> *@
              </div>
            </div>
          }
        </div>
        <div class="col">
          <div class="calendar-section">
            <h2>請選擇起始和結束日期
              <p>
                <label>
                  起始日期: <input type="date" id="startDate">
                </label>
                <br>
                <label>
                  結束日期: <input type="date" id="endDate">
                </label>
                <br><br>
                <button type="button" class="bottom-updateChart" onclick="updateChart()">查詢</button>
              </p>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section ScriptsBody {
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="@Url.Content("~/lib/ESCALE/Home/js/analysis.js")"></script>
}
